nav {
  font-size: 1.5em;
  padding: 2px;
}

body {
  font-family: Raleway,sans-serif;
}

li {list-style-type: none;}

#paraContain {
  display: flex;
  align-items: center;
}

#titleContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  color: #bdc3c7;
  background: rgba(0,0,0,.5);
  padding: 19px 48px;
  margin-bottom: 50px;
  font-size: 1.3em;
  margin-left: -17px;
  margin-right: -17px;
}

#header{
  color: #ecf0f1;
  font-family: Roboto Condensed, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 380;
  font-size: 2.7em;
}

.white {
  color: #ecf0f1;
}

#resizeMe {
  max-width:60%;
  max-height:60%;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 40px;
}

#headerUp {
  margin-top: -7px;
}

.rowMargin {
  margin-bottom: 45px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.headerMargin {
  margin-top: 80px;
}

.aboutMeF2 {
  padding-top: 90px;
  padding-bottom: 90px;
  /*background: #3498db;*/
  background: #ecf0f1;
  position: relative;
}

.company {
  color: #3676CA;
  font-size: 1.45em;
  font-weight: 500;
  style:
}

a.company {
  text-decoration: none !important;
}

a.description {
  text-decoration: none !important;
}

.position {
  color: #619516;
  font-size: 1.12em;
  font-weight: 500;
}

.location {
  color: black;
  font-size: 1.1em;
  font-weight: 500;
  margin-top: -8px;
}

#contactMe {
  padding-top: 30px;
  padding-bottom: 75px;
  background: #ecf0f1;
  position: relative;
}

.centerHeader {
  font-size: 2.3em;
  margin-bottom: 30px;
}

.projectsHeader {
  font-size: 2.3em;
  margin-top: 30px;
  margin-bottom: 60px;
}

#lowerWidth {
  margin-left: 200px;
  margin-right: 200px;
}

#aboutMeText {
  font-size: 1.4em;
  text-align: center;
  margin-right: 120px;
  margin-left: 120px;
}

#iconContainer {
  display: flex;
  justify-content: center;
}

.icon {
  padding-right: 15px;
  cursor: pointer;
  margin-top: 40px;
}

.icon:hover {
  color: #bdc3c7;
}

.iconLink {
  color: rgba(51,51,51,1);
}

.iconLink:hover {
  color: #bdc3c7;
}

#iconMatch {
  color: #3498db;
  font-size: 1.3em;
  text-decoration: none;
  padding: 5px;
  font-weight: 580;

  box-shadow: inset 0 0 0 3px #3498db;
  border-color: #333333;
  border-radius: 6px;
  padding: 10px;
  transition: color, box-shadow .5s ease 0s;

}

#iconMatch:hover {
  color: #2980b9;
  box-shadow: inset 0 0 0 3px #2980b9;
}

#resume {
  margin-right: 15px;
  margin-top: 15px;
  background: transparent;
  text-align: center;
}

#asbestos {
  color: #7f8c8d;
  transition: color .5s ease 0s;
}

#asbestos:hover {
  color:#3498db
}

#asbestos.white {
  color: #bdc3c7;
}

#opaque-navbar {
    background-color: rgba(0,0,0,0);
    height: 60px;
    border-bottom: 1px;
    transition: background-color .5s ease 0s;
}

#opaque-navbar.opaque {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  /*padding:5px 15px 0px 15px;*/
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000 !important;
}

/*Unfolding Drawer*/
.menu{z-index:1000000; margin-left: -17px; margin-right: 17px; margin-top: 8px; font-weight:bold; font-size:0.6em !important; background:#131313; position:absolute; width: 100%; text-align:center; visability: hidden;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}

p.nav-active {
  color: white !important;
}

.lesssWhite {
  color: #7f8c8d;
}

#leaveSpace {
  margin-top: 60px;
  max-height:77%;
  width: 100%;
}

#aboutImage {
  margin-top: -20px;
  margin-bottom: 20px;
  max-width: 28%;
  max-height: 28%;
}

#contact{ padding:10px 0 10px; }

.contact-text{ margin:45px auto; }

.mail-message-area{ width:100%; padding:0 15px; }

.mail-message{ width: 100%; background:rgba(255,255,255, 0.8) !important; -webkit-transition: all 0.7s; -moz-transition: all 0.7s; transition: all 0.7s; margin:0 auto; border-radius: 0; }

.not-visible-message{
  height:0px;
  opacity: 0;
}

.visible-message{
  height:auto;
  opacity: 1;
  margin:25px auto 0;
}

/* Input Styles */

.form{ width: 100%; padding: 15px; background:#bdc3c7; border:1px solid rgba(0, 0, 0, 0.075); margin-bottom:25px; color:#2F3536 !important; font-size:13px; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }

.form:hover{ border:1px solid #ecf0f1; }

.form:focus{
  color: white;
  outline: none;
  border:1px solid #2F3536;
}

.textarea{
  height: 170px;
  max-height: 170px;
  max-width: 100%;
}

/* Generic Button Styles */

.button{ padding:8px 12px; background:#0A5175; display: block; width:120px; margin:10px 0 0px 0; border-radius:3px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; text-align:center; font-size:0.8em;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10); -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10); -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.button:hover{
  background:#8BC3A3;
  color:white;
}

/* Send Button Styles */
.form-btn{ width:180px; display: block; height: auto; padding:15px; color:#fff; background:#2F3536; border:none; border-radius:3px; outline: none; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; margin:auto;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.form-btn:hover{
  background:#bdc3c7;
  color: #2F3536;
  border:none;
}

.form-btn:active{
  opacity: 0.9;
}

input {
   position: relative;
   z-index: 9;
}

/*placeholder text color*/
::-webkit-input-placeholder {color: #2F3536;}
:-ms-input-placeholder {color: #2F3536;}
::-moz-placeholder {color: #2F3536; opacity: 1;}
:-moz-placeholder {color: #2F3536; opacity: 1;}

#footer {
  background: #ecf0f1;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: -10px;
}
#iconMargin {
  margin-top: 0px;
  text-align: center;
}
#footerText {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.gif {
  margin: auto;

}

/*Change icons size here*/
.social-icons .fa {
	font-size: 1.8em;
}
/*Change icons circle size and color here*/
.social-icons .fa {width: 50px; height: 50px; line-height: 50px; text-align: center; color: #FFF; color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333;
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;}
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;}
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;}
.social-icons .fa-envelope-o{background-color:#e67e22;}

.parallax-container1 {
  position: relative;
  overflow: hidden;
  min-height: 720px;
}

.parallax-container2 {
  position: relative;
  overflow: hidden;
  min-height: 450px;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  /*max-width: 125%;*/
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#lowerMaxHeight {
  max-height: 500%;
}

#discoText {
  display: block;
  z-index: 10000000000;
}

#myPortfolio {
  background: #ecf0f1;
}

.resizePort {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width:60%;
  max-height:60%;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: opacity .75s; /* Safari */
  transition: opacity .75s;
  /*margin-bottom: 40px;*/
}

.resizePort:hover {
  cursor: pointer;
  opacity: 0.5;
}

.shadowPicture {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.marginTop {
  margin-top: 12px;
}

.projectText {
  font-size: 1.3em;
}

.even {background: #ecf0f1;}
.odd {background: #F5F5F5;}

.mediaHeader {
  font-size: 1.5em;
  margin-top: 30px;
}

.mediaText {
}

@media only screen and (max-width: 766px) {
  #opaque-navbar {
    background-color: black !important;
    height: 60px;
    transition: background-color .5s ease 0s;
  }
  .menu {
    visibility: visible;
  }
}
@media only screen and (max-width: 1000px) {
  .parallax img {
    max-width: 150%;
  }
}
@media only screen and (max-width: 850px) {
  #aboutImage {
    max-width: 35%;
    max-height: 35%;
  }
}
@media only screen and (max-width: 790px) {
  .parallax img {
    max-width: 180%;
  }
  #aboutImage {
    max-width: 40%;
    max-height: 40%;
  }
  #lowerWidth {
    margin-left: 100px;
    margin-right: 100px;
  }

}
@media only screen and (max-width: 645px) {
  .parallax img {
    max-width: 210%;
  }
  #aboutMeText{
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media only screen and (max-width: 560px) {
  .parallax img {
    max-width: 265%;
  }
  #aboutImage {
    max-width: 50%;
    max-height: 50%;
  }
}
@media only screen and (max-width: 500px) {
  .parallax img {
    max-width: 400%;
  }
  #lowerWidth {
    margin-left: 20px;
    margin-right: 20px;
  }
  .mediaText {
    text-align: center;
  }
}
@media only screen and (min-width: 1075px) {
  #lowerMaxHeight {
    max-height: 115%;
  }

}
